#
# Novatek NT36672 touchscreen driver configuration
#
config TOUCHSCREEN_NT36672
	bool "Novatek NT36672"
	default y
	help
	  Say Y here if you have a Novatek NT36672 touchscreen connected
	  to your system.

	  If unsure, say N.
